//////////////////////////////////////////////////////////
// Global settings - adjust these to your heart's desire//
//////////////////////////////////////////////////////////
$shared_styles = 'fresenius-assets/dist/styles'

////////////////////////////////////////////////////////////
// Spritesmith
////////////////////////////////////////////////////////////
$use_spritesmith ?= true
// Location of the spritesmith stylus directory
$spritesmith_stylus = 'grunt-fresenius-tasks/node_modules/spritesmith-stylus/spritesmith'
// Location relative to the current directory
$sprite_map_file ?= '../../.tmp/styles/components/sprite_map'
// The location to be requested by the browser. Stylus itself will never have to look at the file
$sprite_img_file ?= '/images/sprite.png'
